.payment-column-payid {
  width: 17%;
}

.payment-column-subscription {
  width: 14%;
}

.payment-column-mode {
  width: 23%;
}

.payment-column-amount {
  width: 11%;
}

.payment-column-time {
  width: 12%;
}

.payment-column-product {
  width: 11%;
}

.payment-column-discount {
  width: 12%;
}
