.hotel-management-table {
  min-width: 118rem;
}

.hotel-management-column-type {
  width: 9rem;
}

.hotel-management-column-size {
  width: 8rem;
}

.hotel-management-column-industry {
  width: 11rem;
}

.hotel-management-column-name {
  width: 12rem;
}

.hotel-management-column-tax {
  width: 11rem;
}

.hotel-management-column-email {
  width: 14rem;
}

.hotel-management-column-phone {
  width: 10rem;
}

.hotel-management-column-address {
  width: 13rem;
}

.hotel-management-column-country {
  width: 8rem;
}

.hotel-management-column-state {
  width: 10rem;
}

.hotel-management-column-city {
  width: 9rem;
}

.hotel-management-column-pincode {
  width: 8rem;
}

.hotel-management-column-actions {
  width: 8rem;
}

.hotel-management-company-name {
  display: block;
  font-weight: 700;
}
