.custom-modal-header {
  position: relative;
}

.custom-modal-header .btn-close,
.custom-modal-header .close {
  position: absolute;
  top: -20px;
  right: 5px;
 
}
.plan-card{
  display:flex;
  flex-direction:column;
  height:100%;
  border-radius: 0.428rem;
  overflow: hidden;
}

.plan-actions{
  margin-top:auto;
}
